<mat-card>
  <mat-toolbar>
    <h3>Nueva Requisición</h3>
  </mat-toolbar>
  <mat-card-content class="center-text">

    <form [formGroup]="formReq" (ngSubmit)="addReq()">
      <mat-grid-list cols="3" rowHeight="12px">
        <mat-grid-tile rowspan="6">
          <mat-form-field class="width-field">
            <mat-label>No. Requisición</mat-label>
            <input type="text" matInput placeholder="No. Requisición" formControlName="numero">
            <mat-error *ngIf="numero.invalid">{{getErrorMessage('numero')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field class="width-field">
            <mat-label>Proyecto</mat-label>
            <mat-select formControlName="proyecto_id" name="proyecto_id" class="form-control" required>
              <mat-option *ngFor="let proy of proys" [value]="proy.id">
                {{proy.clave}} {{proy.cliente}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="proyecto_id.invalid">{{getErrorMessage('proyecto_id')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field appearance="fill">
            <mat-label>Fecha solicitada</mat-label>
            <input matInput [matDatepicker]="dp3" formControlName="fecha_solicitud" >
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            <mat-error *ngIf="fecha_solicitud.invalid">{{getErrorMessage('fecha_solicitud')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field class="width-field">
            <mat-label>No. Requisición</mat-label>
            <input type="text" matInput placeholder="Solicitado por" formControlName="solicitado_por">
            <mat-error *ngIf="solicitado_por.invalid">{{getErrorMessage('solicitado_por')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field class="width-field">
            <mat-label>Liquidación</mat-label>
            <mat-select formControlName="liquidacion" name="liquidacion" class="form-control" required>
              <mat-option *ngFor="let liq of liqs" [value]="liq.id">
                {{liq.id}} {{liq.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="liquidacion.invalid">{{getErrorMessage('liquidacion')}}</mat-error>
          </mat-form-field>
          
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field appearance="fill">
            <mat-label>Fecha Requerida</mat-label>
            <input matInput [matDatepicker]="freq" formControlName="fecha_requerida" class="form-control" >
            <mat-datepicker-toggle matSuffix [for]="freq"></mat-datepicker-toggle>
            <mat-datepicker #freq disabled="false"></mat-datepicker>
            <mat-error *ngIf="fecha_requerida.invalid">{{getErrorMessage('fecha_requerida')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6">
          <mat-form-field class="width-field">
            <mat-label>No. Requisición</mat-label>
            <input type="text" matInput placeholder="Autorizado por" formControlName="autorizado_por">
            <mat-error *ngIf="autorizado_por.invalid">{{getErrorMessage('autorizado_por')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6" colspan="2">
          <mat-form-field class="width-field">
            <mat-label>No. Requisición</mat-label>
            <input type="text" matInput placeholder="Lugar de entrega" formControlName="lugar_entrega">
            <mat-error *ngIf="lugar_entrega.invalid">{{getErrorMessage('lugar_entrega')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6" colspan="3">
          
          <mat-form-field class="width-field-90 ">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-error *ngIf="descripcion.invalid">{{getErrorMessage('descripcion')}}</mat-error>
          </mat-form-field>
        </mat-grid-tile>
<mat-grid-tile rowspan="6" colspan="3">
        <p class="flex-1-3">
          <button mat-raised-button color="primary" type="submit">Agregar</button>
          <span class="spacer"></span>
          <button mat-raised-button color="primary" type="button">impriir</button>
          <span class="spacer"></span>
          <button mat-raised-button color="primary" type="button" routerLink="/requisicion">regresar</button>
        </p>
      </mat-grid-tile>
      </mat-grid-list>
      
    </form>

  </mat-card-content>
</mat-card>